* {
    box-sizing: border-box;
}
body {
    margin: 0;
    
}
nav {
    background: lightgrey;
    height: 4.25em;

}

ul {
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; 
}
nav a:hover {
    color: blue;
}
nav ul li:nth-child(5) {
    position: absolute;
    font-family: 'Montserrat';
    font-size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
  }

nav ul li:nth-child(6) {
    margin-left: auto;
}