* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
}

.note-item {
    font-weight: normal;
}


.flex-container {
    width: 100%;
    border: 3px solid goldenrod;
    display: flex;
    height: 10em;

    flex-direction: row;
}

.flex-item {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;

}

.flex-item1 {
    /*align-self: flex-start;
    */
    flex-grow: 1;

}

.flex-item2 {
    /* align-self: center;
    */
    flex-grow: initial;
    flex-grow: 1;

}

.flex-item3 {
    /* align-self: flex-end;
    */
    flex-grow: unset;
    flex-grow: 2;


}

