body {
    font-family: 'PT Sans', sans-serif;
}
.alert-info {
    background: rgb(214	254	254);
    border: grey 2px solid;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
}
.alert-info a {
    color: dimgrey;
    text-decoration: none;
    font-size: 1.25em;
}
.alert-info a:visited {
    color: dimgrey;
    text-decoration: none;
}
h1 {
    text-align: left;
    font-size: 3em;
    float: left;
}
ul {
    float: right;
    position: relative;
    top: 3em;
    list-style: none;
    padding: 0;
}
li {
    text-align: center;
    display: inline;
    background: none;
    margin: .5em auto;
    padding: .75em;
}
.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 100%;
    max-width: 890px;
}
#main{
    float: left;
    margin: 0 .5em 0 0;
}
section.sub-section {
    font-style: italic;
    font-size: .85em;
    float: left;
    margin: 0 0 0 .5em;
}
footer {
    clear: both;
}
footer p {
    font-size: .35em;
    position: relative;
    top: 40px;
}
#social-media-links {
    float: right;
}
.fb {
    float: left;
    display: block;
    /*width: 100%;*/
}

.hidden-on-desktop {
    display: none;
}

