
/*
@media screen and (max-width:510px) {
    * {
        box-sizing: border-box;
    }

    .alert-info {
        text-align: center;
        padding: auto;
        box-sizing: border-box;
        margin-bottom: 7px;
        color: lightcyan;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    h1 {
        text-align: center;
    }

    nav {
        display:
        height: 10em;
        justify-content: stretch;
    }


    .alert-info {
        box-sizing: border-box;
        background: lightblue;
        width: 100%;
    }

    .nav-links ul {


    }

    .nav-links li {
        list-style-type: none;
        width: auto;
        text-align: center;
        align-items: center;
        height: 2em;
        list-style-type: none;
        padding: 2px 0;
        margin-bottom: 4px;
        background-color: lightgray;

    }

    img {
        height: auto;
        width: 100%
    }

    footer {
        margin-top: 200px;
    }


    main {
    }

    sub-section {

    }


    @media screen and (max-width: 400px) {
        li {
            color: blue;
            padding: 20px;
            width: 100%;
            height: 40px;
            background-color: lightgrey;
            margin: 5px auto;
        }

        img {
            height: auto;
            width: 100%
        }

        .sub-section {
            font-style: italic;
        }
    }
}


*/



@media screen and (max-width:768px) {
    body {
        box-sizing: border-box;
        background-color: white;
        color: black;
        display: inline-grid;
        grid-template-columns:
                " . 1fr . "
                " . 1fr . "
                " . 1fr . "
                " . 1fr . "
                " . 1fr . "
                " . 1fr . "
                " . 1fr . ";
        justify-content: center;
        flex-direction: column;
        color: black;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        text-decoration: none;

    }
    .alert-info{
        display:flex;
        flex-direction: column;
        list-style: none;
        margin: 1em;
        padding: 2em;
        height: 2em;
        background-color: lightcyan;
        text-align: center;
        width: 80%;
        border: 2px solid lightgray;

    }

    .alert-info > a{
        color: black;
        text-decoration: none;
        font-size: 2em;
    }

    h1 {
        display:flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .nav-links{
        display:flex;
        flex-direction: column;
        list-style: none;
        margin: 1em;
        padding: 0;
        justify-content: start;
        text-align: center;
        width: 90%;
        align-items: center;

    }
    li{
        background-color: lightgray;
        padding: .5em;
        margin: .5em;
        width: 100%;
        align-content: center;
        height: 1em;

    }

    img {
        justify-content: center;
        display: flex;
        text-align: start;
        height: 339px;
        width: 98%;
    }
    #main > p{
        display: flex;
        text-align: start;
        width: 100%;
    }
    .sub-section p{
        display: flex;
        text-align: start;
        width: 100%;
        font-style: italic;
    }
}


