/* light green - #a9c52f */
/* ====================  */

/* ----------------------------------- */
/* -------- Basic Setup -------- */
/* ----------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

 /*------------ Clear Float ----------*/
.clearfix {
    zoom: 1;}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------- */
/* -------- REUSABLE content -------- */
/* ----------------------------------- */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}
/* ================================== */
/* ------- HEADING ---------*/
/* ================================== */

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-size: 200%; /*200% of global font size*/
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #a9c52f;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPH ---- */
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 135%;
}

/* ------ ICONS -------- */
.icon-big{
    font-size: 300%;
    display: block;
    color: #a9c52f;
    margin-bottom: 10px;
}
/* ----- BUTTONS -------*/
.btn:link,
.btn:visited,
#submit {
    display: inline-block;
    padding: 10px 30px; /*top/bottom & left/right*/
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited,
#submit{
    /*background-color:#283739;*/
    border: 1px solid #a9c52f;
    /*border: 1px solid #a9c52f;*/
    color: #fff;
    margin-right: 15px;
    transition: background-color 1s;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #a9c52f;
    transition: background-color 1s;
    color: #fff;
}


.btn:hover,
.btn:active{
    border: 1px solid #283739;
    color: #fff;
}

.btn:hover,
.btn:active{
    border: 1px solid #ffde59;
    color: #fff;
    background-color: #a9c52f;
    transition: background-color 2s;
}

#steps-btn,
#submit{
    color: #a9c52f;
    transition: background-color 1s
}

#steps-btn:hover,
#steps-btn:active,
#submit:hover,
#submit:active{
    border: 1px solid #ffde59;
    color: #fff;
    background-color: #a9c52f;
}

/* ================================== */
/* -------- HEADER  -------- */
/* ================================== */
header {
    background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0,0.3)), url(../img/thickStripe.jpg);
    background-size: cover; /*view entire image */
    background-position: center;
    height: 100vh; /* set image to full screen */
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    height: 60px;
    width: auto;
    float: left;
    padding-top: 10px;
}

.main-nav{
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 65%;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    color: #a9c52f;
    border-bottom: 2px solid #ffde59;
}

/* ------ FEATURES ---------- */
.section-features .long-copy{
    margin-bottom: 30px;

}

/* ================================== */
/* -------- lawn-showcase -------- */
/* ================================== */

.section-lawns{
    padding: 0;
    background-color: darkslategrey;
}

.lawn-showcase{
    list-style: none;
    width: 100%;
}

.lawn-showcase li{
    display: block;
    float: left;
    width: 25%; /* 25% as there are 4 images   */

}

.lawn-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    /*background-color: #000;*/
    height:200%;
}

.lawn-photo img{
    opacity: 0.7;
    width: 100%;
    transform: scale(1.25);
}

.lawn-photo img:hover{
    opacity: 1;
    transform: scale(1.3);
    transition: transform 0.5s;
}

/* ================================== */
/* ------ HOW IT WORKS SECTION ------- */
/* ================================== */

.sections-steps{
    background-color: #faf7f7;
}

.step-box{
    margin-top: 30px;
}

.steps-box:first-child{
text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}


.phone-hlc {
    width: 80%;
    border: 5px solid #a9c52f;
    border-radius: 15px 80px;
}

.works-step{
    margin-bottom: 50px;
}

.works-step div{
    color: #a9c52f;
    border: 2px solid #a9c52f;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 55px;
    text-align: center;
    font-size:150% ;
    padding: 5px;
    float: left;
    margin-right: 25px;
    margin-top: -15px;
}

/* ================================== */
/* -------- SECTIONS PLANS ---------- */
/* ================================== */

.section-plans {
    background-color: #fff;
}

.section-plan-note{
    text-align: center;
    margin-top: 5%;
}

.plan-box {
    background-color: #faf7f7;
    border-radius: 5px;
    border: 2px solid #a9c52f;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 6px #e3e3e3;

}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #D0D0D0;
}

.plan-box div:first-child{
    /*background-color: #faf7f7;*/
    background-color: #fcfcfd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    border: none;
}

.plan-price {
    font-size: 275%;
    margin-bottom: 10px;
    font-weight: 100;
    color:#a9c52f ;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-per-service {
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-list ul li {
    padding: 3px 0;
}

.icon-small {
    color: #a9c52f;
    /*padding-right: 5%;*/
}
.icon-small-x {
    color: lightpink;
    /*padding-right: 4%;*/
}

/* ================================== */
/* -------- FORM SECTION --------*/
/* ================================== */
.section-form{
    background-color:#faf7f7 ;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

#message{
    height: 100px;
}

*:focus {outline:none}

/* ================================== */
/* -------- FOOTER --------*/
/* ================================== */
footer {
    background-color: #333;
    border-top: 3px solid #a9c52f;
    font-size: 80%;
}

.footer-nav li{
    list-style: none;
    float: left;
    color: #a9c52f;
}

.footer-nav li a {
    color:  #a9c52f;
}

.social-links li{
    list-style: none;
    float: right;
}

.footer-nav li a,
.social-links li a {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    color: #a9c52f;
}

.footer-nav:last-child,
.social-links:last-child{
margin-right: 0;
}

.footer-nav li  a:link,
.footer-nav li a:visited,
.social-links li  a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.9s
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:active,
.social-links li a:hover {
    color: #a9c52f;
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 130%;
}


footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 15px;
    margin-bottom: 10px;
}


