.idea/*
*.iml
.DB_STORE
js/keys.js
img/*
*/keys.js
*keys.js
node_modules/
/projects/movies-application/node_modules
/projects/movies-application/public/main.js
/projects/movies-application/public/*.map
